<div id="sobre">
<h1> Sobre Livro aps </h1>

 O livro aps é um aplicativo criado em Ruby on Rails. 
Com auxilios dos seguntes sites: 
<ul>
	
<li><%= link_to "Railscast", "http://railscasts.com" %> </li>
<li> <%= link_to "Ruby Brasil", "http://ruby-br.org/" %></li>
<li> <%= link_to "Breno Martinusso", "http://b.martinusso.com/" %> </li>
<li> <%= link_to "Rails tutorial" , "http://ruby.railstutorial.org/chapters/sign-up#book_menu" %> </li>
<li> <%= link_to "API Ruby" , "http://api.rubyonrails.org/" %> </li>
</ul>

</div>