<% if @usuario.livro.any? %>
<% @livro.each do |livro| %>
<div class="post">
<p> Titulo: <%= livro.titulo %> </p>
<p> Autor: <%= livro.autor %> </p>
<p> Comentário: <br />
<%= livro.comentario %>
</p>
</div>

<div id="opt">
<p> <%= link_to "Excluir", livro, method: :delete, data: { confirm: 'Deseja excluir publicação?' } %>
</div>

<% end %>


<center> <%= will_paginate @livro %> </center>
<% else %>
<h3> Nenhum livro compartilhado </h3>
<% end %>
